{% extends "base.html" %}

{% block content %}

  {% if buggy %}
    <h1>Update Buggy #{{buggy['id']}}</h1>
  {% else %}
    <h1>Create a New Buggy</h1>
  {% endif %}
  <p>
    <a href="/" class="button">home</a>
  </p>

  <form action="/new" method="post">
    
    <input type="submit" value="Submit Form" class="button">
    <input type="reset" value="Clear Changes" class="button">
    <input type="submit" name = "defaults" value="Apply Defaults" class="button">
    <br>  
    <input type="hidden" name="id" value="{{buggy['id']}}"/> 
    </fieldset>
    <br>
    <fieldset>
      <legend><b>Power Systems:</b></legend>
      <br>
      <label for="power_type">Primary motive power:</label>
      <br>
      <select id="power_type" name="power_type">
        <option value="{{buggy['power_type']}}" selected>{{buggy['power_type']}}</option>
        <option value="petrol">petrol</option>
        <option value="fusion">fusion</option>
        <option value="steam">steam</option>
        <option value="bio">bio</option>
        <option value="electric">electric</option>
        <option value="rocket">rocket</option>
        <option value="hamster">hamster</option>
        <option value="thermo">thermo</option>
        <option value="solar">solar</option>
        <option value="wind">wind</option>
      </select>  
      <br><br>
      <label for="power_units">Primary motive power units:</label>
      <br>
      <input type="text" name="power_units" value="{{buggy['power_units']}}"/>    
      <br><br>
      <label for="aux_power_type">Auxiliary motive power:</label>
      <br>
      <select id="aux_power_type" name="aux_power_type">
        <option value="{{buggy['aux_power_type']}}" selected>{{buggy['aux_power_type']}}</option>
        <option value="none">none</option>
        <option value="petrol">petrol</option>
        <option value="fusion">fusion</option>
        <option value="steam">steam</option>
        <option value="bio">bio</option>
        <option value="electric">electric</option>
        <option value="rocket">rocket</option>
        <option value="hamster">hamster</option>
        <option value="thermo">thermo</option>
        <option value="solar">solar</option>
        <option value="wind">wind</option>
      </select>
      <br><br>
      <label for="aux_power_units">Auxiliary motive power units:</label>
      <br>
      <input type="text" name="aux_power_units" value="{{buggy['aux_power_units']}}"/> 
      <br><br>
      <label for="hamster_booster">Hamster booster:</label>
      <br>
      <input type="text" name="hamster_booster" value="{{buggy['hamster_booster']}}"/> 
      <br><br>
    </fieldset>
    <br>
    <fieldset>
      <legend><b>Traction Systems:</b></legend>
      <br>
      <label for="qty_wheels">Number of wheels:</label>
      <br>
      <input type="text" name="qty_wheels" value="{{buggy['qty_wheels']}}"/>    
      <br><br>
      <label for="tyres">Type of tyres:</label>
      <br>
      <select id="tyres" name="tyres">
        <option value="{{buggy['tyres']}}" selected>{{buggy['tyres']}}</option>
        <option value="knobbly">knobbly</option>
        <option value="slick">slick</option>
        <option value="steelband">steelband</option>
        <option value="reactive">reactive</option>
        <option value="maglev">maglev</option>
      </select>
      <br><br>
      <label for="qty_tyres">Number of tyres:</label>
      <br>
      <input type="text" name="qty_tyres" value="{{buggy['qty_tyres']}}"/> 
      <br><br>
    </fieldset>
    <br>
    <fieldset>
      <legend><b>Offensive and Defensive Systems:</b></legend>
      <br>
      <label for="armour">Armour:</label>
      <br>
      <select id="armour" name="armour">
        <option value="{{buggy['armour']}}" selected>{{buggy['armour']}}</option>
        <option value="none">none</option>
        <option value="wood">wood</option>
        <option value="aluminium">aluminium</option>
        <option value="thinsteel">thinsteel</option>
        <option value="thicksteel">thicksteel</option>
        <option value="titanium">titanium</option>
      </select>  
      <br><br>
      <label for="attack">Offensive capability:</label>
      <br>
      <select id="attack" name="attack">
        <option value="{{buggy['attack']}}" selected>{{buggy['attack']}}</option>
        <option value="none">none</option>
        <option value="spike">spike</option>
        <option value="flame">flame</option>
        <option value="charge">charge</option>
        <option value="biohazard">biohazard</option>
      </select> 
      <br><br>
      <label for="qty_attacks">Number of attacks:</label>
      <br>
      <input type="text" name="qty_attacks" value="{{buggy['qty_attacks']}}"/> 
      <br><br>
      <label for="algo">Race computer algorithm:</label>
      <br>
      <select id="algo" name="algo">
        <option value="{{buggy['algo']}}" selected>{{buggy['algo']}}</option>
        <option value="defensive">defensive</option>
        <option value="steady">steady</option>
        <option value="offensive">offensive</option>
        <option value="titfortat">titfortat</option>
        <option value="random">random</option>
        <option value="buggy">buggy</option>
      </select> 
      <br><br>
    </fieldset>
    <br>
    <fieldset>
      <legend><b>Vehicle Identification:</b></legend>
      <br>
      <label for="flag_color">Flag's colour:</label>
      <br>
      <input type="color" name="flag_color" value="{{buggy['flag_color']}}"/>
      <br><br>
      <label for="flag_pattern">Flag's pattern:</label>
      <br>
      <select id="flag_pattern" name="flag_pattern">
        <option value="{{buggy['flag_pattern']}}" selected>{{buggy['flag_pattern']}}</option>
        <option value="plain">plain</option>
        <option value="vstripe">vstripe</option>
        <option value="hstripe">hstripe</option>
        <option value="dstripe">dstripe</option>
        <option value="checker">checker</option>
        <option value="spot">spot</option>
      </select>
      <br><br>
      <label for="flag_color_secondary">Flag's other colour:</label>
      <br>
      <input type="color" name="flag_color_secondary" value="{{buggy['flag_color_secondary']}}"/> 
      <br><br>
    </fieldset>
    <br>
    <fieldset>
      <legend><b>Special Systems:</b></legend>
      <br>
      <label for="fireproof">Fireproof?:</label>
      <br>
      <select id="fireproof" name="fireproof">
        <option value="{{buggy['fireproof']}}" selected>{{buggy['fireproof']}}</option>
        <option value="false">false</option>
        <option value="true">true</option>
      </select> 
      <br><br>
      <label for="insulated">Insulated?	:</label>
      <br>
      <select id="insulated" name="insulated">
        <option value="{{buggy['insulated']}}" selected>{{buggy['insulated']}}</option>
        <option value="false">false</option>
        <option value="true">true</option>
      </select> 
      <br><br>
      <label for="antibiotic">Antibiotic?:</label>
      <br>
      <select id="antibiotic" name="antibiotic">
        <option value="{{buggy['antibiotic']}}" selected>{{buggy['antibiotic']}}</option>
        <option value="false">false</option>
        <option value="true">true</option>
      </select>
      <br><br>
      <label for="banging">Banging sound system?:</label>
      <br>
      <select id="banging" name="banging">
        <option value="{{buggy['banging']}}" selected>{{buggy['banging']}}</option>
        <option value="false">false</option>
        <option value="true">true</option>
      </select>
      <br><br>
    </fieldset>
  
    <input type="submit" value="Submit Form" class="button">
    <input type="reset" value="Clear Changes" class="button">
    <input type="defaults" value="Apply Defaults" class="button">
  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
